* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;

}

:root {
    --pressed-state-color: #4D5AE5;
    --text-color: #434455;
    --title-color: #2E2F42;
    --white-color: #ffffff;
    --background-secondary-section: #f4f4fd;
    --footer-text-coclor: #e7e9fc;
    --button-hover-color: #404bbf;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .header {
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px 
rgba(46, 47, 66, 0.08);
  }
  
  .header > .container {
    display: flex;
  }

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.header-navigation {
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.web {
color: var(--pressed-state-color);
}
.studio_logo {
color: var(--title-color);
}
.header-list {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color);
}

.header-link:hover {
    color: var(--pressed-state-color);
}

.header-link:focus {
color: var(--pressed-state-color);
}

.header-contact {
}
.header-contact-item {
}
.header-tel {   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.header-tel:hover, .header-tel:focus {
    color: var(--pressed-state-color);
}

.header-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.header-mail:hover, .header-mail:focus {
    color: var(--pressed-state-color);
}

.hero {
    background-color: var(--title-color);
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
background-color: var(--title-color);;
margin-bottom: 48px;
}
.hero-btn {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: var(--pressed-state-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}

.hero-btn:hover {
    background: var(--pressed-state-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-btn:focus {
    background: var(--pressed-state-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
    background: #E5E5E5;
}

.section-list {
    padding-top: 120px;
padding-bottom: 120px;
}

.section-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
margin-bottom: 8px;
}

.section-par {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-list {
}
.hero-item {
}
.hero-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
}
.hero-par {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.article {
    background: #E5E5E5;
    padding-bottom: 120px;
}
.article-name {
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
margin-bottom: 72px;
}
.article-list {
}
.article-img {
 box-sizing: border-box;
width: 360px;
height: 300px;
background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368);
background-blend-mode: soft-light, normal;
border: 1px solid #E7E9FC;
flex: none;
order: 0;
flex-grow: 0;
}

.main {
    background: #E5E5E5;
    padding-bottom: 120px;
}

.main-tag {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.main-list {
}
.main-img {
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
margin-bottom: 32px;
}
.main-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
margin-bottom: 8px;
}
.main-work {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.footer {
    background-color: var(--title-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
margin-bottom: 16px;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.filter {
    background: #F4F4FD;
}

.filter-btn-list {
    margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
}

.filter-btn {
    background: #F4F4FD;
border: 1px solid #E7E9FC;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--pressed-state-color);
cursor: pointer;
}

.filter-btn:hover {
    color: #FFFFFF;
    background: var(--pressed-state-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn:active {
    color: #FFFFFF;
    background: var(--pressed-state-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
    color: #FFFFFF;
    padding-bottom: 120px;
}
.filter-list {
}
.filter-item {
}
.filter-img {
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365.jpg);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
margin-bottom: 32px;
}
.filter-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
margin-bottom: 8px;
}
.filter-work {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}